<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AccessConStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=南信大航道自动站.accdb; User Id=admin; Password="/>
    <add name="Nuist_hangdao" connectionString="server=localhost;database=Nuist_hangdao;uid=sa;Pwd=123456"></add>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
